@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@media only screen and (max-width: 800px) {
    
    body,h1, p {

        font-size: 5pt;

    }

    h2 {

        font-size: 4pt;

    }

    #aperte {

        font-size: 10pt;

    }

    .container {

        grid-column-gap: 10px;

    }

  }

  @media only screen and (max-width: 1000px) {
    
    body,h1, h2, p {

        font-size: 8pt;

    }

    #aperte {

        font-size: 15pt;

    }

  }

* {

    margin: 0;
    padding: 0;

}

body{

    background-color: #252424;
    overflow: hidden;
    color: rgb(231, 228, 228);
    font-family: 'Quicksand', sans-serif;

}

.container {

    display: grid;
    grid-template-columns: 1.3fr 2.7fr;
    grid-template-rows: 80vh;
    grid-column-gap: 20px;
    margin-top: 10vh;
    
}

#antes{

    margin-top: 10px;
}

#restantes {

    display: grid;
    grid-template-rows: 20vh 60vh;
    height: 100vh;
    grid-row-gap: 10px;
    
}

#sobre{

    background-color: #4b4949cc;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
    color: white;
    box-shadow: 3px 3px 5px rgb(98, 38, 177);
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;

}

#sobre:hover {

    transform: translateY(-3px);
    box-shadow: 3px 3px 10px rgb(98, 38, 177);

}

#infos {

    background-color: #4b4949cc;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 3px 3px 5px rgb(98, 38, 177);
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button {

    height: 50px;
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    border: 3px solid #4b4949cc;
    border-top: 3px solid red;
    animation: rodar 1s infinite;

}

@keyframes rodar {

    0% {

        transform: rotate(0deg);

    }
    
    100% {

        transform: rotate(360deg);

    }

}

#infos:hover {

    transform: translateY(-3px);
    box-shadow: 3px 3px 10px rgb(98, 38, 177);

}

h2{

    text-align: center;
    
}

h1{

    font-size: 35pt;
    
}

#perguntas {

    background-color: #4b4949cc;
    height: 80vh;
    border-radius: 1%;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgb(98, 38, 177);
    
}

#p1, #p2, #p3{

    opacity: 0;

}

img{

    height: 200px;
    margin: 3px;
    border-radius: 10px;

}

img:hover {

    transform: translateY(-3px);
    box-shadow: 3px 3px 10px black;

}

.questoes {

    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
    margin: 15px;

}

.flex-col{

    display: flex;
    flex-direction: column;

}
